[phases.setup]
nixPkgs = ["nodejs_20", "npm-9_x"]

[phases.install]
cmds = ["PUPPETEER_SKIP_DOWNLOAD=true npm ci"]

[phases.build]
cmds = [
  "npm run build",
  "cp -r public .next/standalone/frontend/",
  "cp -r .next/static .next/standalone/frontend/.next/"
]

[start]
cmd = "node .next/standalone/frontend/server.js"
