[phases.setup]
nixPkgs = ["nodejs_20", "npm-9_x"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
  "npm run build",
  "cp -r public .next/standalone/frontend/public",
  "cp -r .next/static .next/standalone/frontend/.next/static"
]

[start]
cmd = "node .next/standalone/frontend/server.js"
