name: Fullstack CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build backend Docker image
        run: |
          docker build -f backend/Dockerfile -t cubit-backend:test --build-arg CONTEXT=backend .

      - name: Build frontend Docker image
        run: |
          docker build -f frontend/Dockerfile -t cubit-frontend:test --build-arg CONTEXT=frontend .
